{% extends '__base__.html' %}

{% block title %}关于西岭雪{% endblock %}

{% block content %}
    <div class="uk-width-medium-3-4">
        <h2>关于西岭雪</h2>
        <p>
        上学那会儿在网易博客断断续续写过博客，主要是写写心情和感想，但后来也荒废了。
        工作几年后，认识到积累的重要性，想把工作学习中关于技术的知识作些总结、梳理和分享，于是
        决定建立一个自己的个人博客网站。
        </p>
        <p>
        本站为什么叫西岭雪呢？很容易看出这几个字是取自"窗含西岭千秋雪"这句唐诗，成都的西边确实
        有连绵的雪山，在春秋季节天气很好的时候，站在市区高楼上就能看到，很漂亮。西岭雪这几个字
        让我想起那一片美景，刚好申请域名的时候没有被注册过，所以就用了这个名字。
        </p>
        <p>
        这是一个完全依靠个人建立的技术性博客站点，是一个分享技术见闻，总结知识的网站。
        </p>
        <p>
        <strong>除非文章内特别说明，你可以转载西岭雪的文章，但请加入文章作者和出处。谢谢。</strong>
        </p>
        <p>nonprivatemail@163.com</p>
    </div>
{% endblock %}
